<section class="content-card">
  <p class="eyebrow">Jakarta Connect</p>
  <h1>Ruimtes & Mogelijkheden</h1>
  <p>
    Op deze pagina kan de bezoeker een overzicht verwachten van de zalen, mogelijke opstellingen, arrangementen, hospitality services en aanvullende zakelijke faciliteiten binnen Hotel Jakarta. Denk hierbij aan sfeerbeelden van ruimtes, mogelijke zaalopstellingen, de capaciteiten, aanvullende services en inspirerende combinaties van bijeenkomsten en hospitality.<br/>
    <br/>
    Deze pagina is binnen dit prototype niet verder uitgewerkt, omdat de focus van de testfase ligt op de positionering, beleving en de geïntegreerde klantreis van het concept. Het tonen van een volledig overzicht van ruimtes en faciliteiten draagt minder bij aan het testen van de wenselijkheid van Jakarta Connect, aangezien deze informatie voornamelijk functioneel en informatief van aard is. Daarbij zijn deze aspecten momenteel op de werkelijke website van Hotel Jakarta al terug te vinden.Bekijk beschikbare ruimtes, opstellingen en maatwerkopties voor meetings, diners,
    conferenties en exclusieve zakelijke events.
  </p>
</section>
