<section class="content-card">
  <p class="eyebrow">Jakarta Connect</p>
  <h1>Plan een sessie</h1>
  <p>
    Deze pagina biedt bezoekers de mogelijkheid om een offerte op te vragen, een daadwerkelijke reservering te maken of een kennismakingsgesprek in te plannen. Het doel van deze pagina is om de potentiële klant ondersteuning te bieden bij het vormgeven van een bijeenkomst. Dit kan door de wensen bespreekbaar te maken of door het ontvangen van persoonlijk advies en inspiratie.
Wederom is deze pagina binnen het prototype niet volledig vormgegeven, omdat de testfase zich voornamelijk richt op onderdelen zoals interesse, inspiratie en wenselijkheid.

  </p>
</section>
