@font-face {
	font-family: 'Manrope';
	src: url('/font/FrontageProTest-Regular-BF675a4e08e25bc.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/font/FrontageProTest-Bold-BF675a4e092a127.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/font/FrontageProTest-Bold-BF675a4e092a127.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/font/FrontageProTest-Regular-BF675a4e08e25bc.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/font/FrontageProTest-Bold-BF675a4e092a127.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Bricolage Grotesque';
	src: url('/font/FrontageProTest-Bold-BF675a4e092a127.otf') format('opentype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Manrope', sans-serif;
	min-height: 100vh;
	background: #f4efe6;
}
