<section class="content-card">
  <p class="eyebrow">Jakarta Connect</p>
  <h1>Partners & Samenwerkingen</h1>
  <p>
Op deze pagina kan de bezoeker informatie vinden over samenwerkingen met externe partners, leveranciers en organisaties die bijdragen aan de totaalervaring van zakelijke bijeenkomsten binnen Hotel Jakarta. Hierbij kan gedacht worden aan duurzame partners, creatieve samenwerkingen, aanvullende activiteiten of hospitalityconcepten. <br />
<br />
Voor het prototype is deze pagina niet verder uitgewerkt, omdat samenwerkingen en externe partners geen directe invloed hebben op het testen van de eerste gebruikerservaring en de aantrekkelijkheid van het platform. De focus van het prototype ligt voornamelijk op inspiratie, klantbeleving en de manier waarop de doelgroep door de customer journey wordt begeleid.

  </p>
</section>
